@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

body 
{
    font-family: 'JetBrains Mono', monospace !important;

}

.markdown-source-view.mod-cm6 .cm-scroller {
  font-family: 'JetBrains Mono', monospace !important;
}

.cm-s-obsidian span.cm-formatting-highlight, .cm-s-obsidian span.cm-highlight {
    background-color: #4d00ff55 !important; /* Altere para a cor desejada */
    color: #fff !important; /* Cor do texto dentro do destaque (opcional) */
}

/* h1, h2, h3, h4, h5, h6, p, li, ul, ol {
  font-family: 'Geist Mono', sans-serif !important;
}

.cm-s-obsidian pre.HyperMD-codeblock {
  font-family: 'Geist Mono', monospace !important;
}

input, textarea {
  font-family: 'Geist Mono', monospace !important;
} */